* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "organetto-variable", sans-serif;
}

header {
    background-color: purple;
    position: fixed;
    z-index: 0;
}

main {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

img {
    display: block;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

header a {
    font-weight: 800;
    border: 1px solid white;
    padding: 1em 3em;
    border-radius: 30px;
}

header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;
    min-height: 100px;
    width: 100vw;
    padding-right: 2em;
}

nav figure {
    height: 8vh;
    min-height: 100px;
    width: 300px;
    background-color: black;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

img.logo {
    width: 80%;
}

.container-center {
    height: 100%;
    display: flex;
}



aside {
    height: 100%;
    width: 300px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8em;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
}


nav figure,
nav ul,
.playlist-container,
.aside-bottom {
    padding-inline: 20px;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 2em;
}

aside ul {
    font-size: 1.3rem;
    opacity: 0.6;
}

nav ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3em;
    padding-left: -0.5em;
}

aside .icon {
    max-height: 40px;
}

.playlist-container {
    margin-top: 1em;
}

.playlist-container h4 {
    font-size: 1.4rem;
}

.playlist-container span {
    font-size: 1.3rem;
    opacity: 0.6;
}

.add-playlist {
    display: flex;
    align-items: center;
    gap: 0.7em;
    margin-top: 1em;
}

.add-playlist div.plus-icon {
    background-color: gray;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    padding-inline: 15px;
    aspect-ratio: 1;
    width: fit-content;
}

.playlist-container ul {
    display: flex;
    gap: 1em;
    flex-direction: column;
    margin-top: 1em;
}

.app-install,
.profile {
    display: flex;
    align-items: center;
    gap: 1em;
}

.app-install {
    margin-bottom: 1em;
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
}

.app-install img {
    height: 50px;
}

.profile img {
    object-fit: cover;
    clip-path: circle(50%);
    background-color: gray;
}

.aside-bottom {
    margin-bottom: 1em;
}


.controls-container {
    background-color: #282828;
    width: 100%;
    height: 130px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

}

.controls-container>div {
    max-height: 90%;
}


.song {
    display: flex;
    align-items: center;
    color: white;
    gap: 1em;
}

.song-info .author {
    opacity: 0.7;
}

.song-info {
    margin-right: 1em;
}

.song figure {
    height: 100%;
}

.song img {
    max-height: 80px;
}

.song-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    opacity: 0.85;
    margin-block: 1em;
}

.icons {
    color: white;
    display: flex;
    gap: 1.5em;
    font-size: 2rem;
}

.slidecontainer {
    color: white;
}

.slidecontainer span {
    vertical-align: middle;
}

#song-slider {
    width: 30vw;
    margin-inline: 1.5em;
    color: white;
    vertical-align: middle;
    background-color: gray;
}

#volume-slider {
    width: 6vw;
}

#volume-panel {
    color: white;
    display: flex;
    gap: 1.5em;
    opacity: 0.85;

}

.container-center {
    display: flex;
}

#home {
    width: 100%;
    margin-left: 300px;
    height: 100%;
    margin-top: max(8vh, 90px);
    padding: 2em;
    padding-bottom: 250px;
    background-color: #141922;
    overflow-y: scroll;
    z-index: 0;
    color: white;
}

section {
    padding-bottom: 3em;
}

#home-menu {
    display: flex;
    opacity: 0.5;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 4em;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    gap: 1em;
}

.card-container {
    padding-block: 2em;
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
}

.song-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: calc((100% / 6) - (1.5em * 5 / 6))
}

#home h2 {
    color: white;
    font-size: 1.7rem;
}

#home h3 {
    font-size: clamp(0.2rem, 2vw, 1.3rem);
    margin-top: 0.5em;
}

#home h4 {
    opacity: 0.5;
    font-size: 1.1rem;
}

section>h4 {
    margin-block: 1em;
}

.song-card>img {
    max-width: 100%;
}

.rounded {
    clip-path: circle(50%);
}